body {
  padding-bottom: 500px;
}

textarea {
  max-width: 100%;
}

#codeChange { 
   display: none
}

#cmsSteps { 
   display: none
}

#cmsError { 
	color: red;
   font-size: large;
   display: none
}

#codeError { 
	color: red;
   font-size: large;
   display: none
}




