@import "./base/colors";
@import "./base/typography";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$action-buttons: 50px;

body {
  padding-bottom: 100px;
  background: #b4b4b4;

  .content {
    padding: 30px 15px 15px;
  }
}

.logo {
  width: 38px;
  height: auto;
  position: relative;
  top: -7px;
}

.form-control {
  background: #e5e5e5;
}

#codeChange, #cmsSteps {
   display: none
}

.error {
  display: none
}

.action-buttons {
  bottom: 0;
  margin-left: -12px;
  position: fixed;
  width: 100%;
  padding: 15px;
}

.fa-github {
  font-size: 35px;
  cursor: pointer;
  margin-right: 60px;

  &:hover {
    color: #0d6efd !important;
  }
}

@media (max-width: 575.98px) {
  .fa-battle-net  {
    font-size: 45px;
    padding: 10px;
  }
  .fa-copy {
    font-size: 40px;
    padding: 10px;
  }
  .fa-redo  {
    font-size: 40px;
    padding: 10px;
  }
}

.back-to-top {
  bottom: 25px;
  position: fixed;
  right: 20px;

  @media (max-width: 575.98px) {
    background-color: #212529;
    bottom: 120px;
    right: 10px;

    &:hover {
      background-color: #1c1f23;
      border-color: #1a1e21;
      color: #fff;
    }
  }
}
